{%- if block.settings.image -%}
  {%- assign img_object = block.settings.image -%}
{%- else -%}
  {%- assign img_object = 'blank.svg' | asset_url -%}
{%- endif -%}
<div class="grid__item large--one-half medium--one-half double__block homepage-image {{ block.settings.color }} preventOverflow" {{ block.shopify_attributes }}>
  {% if block.settings.link_text == '' and block.settings.link and block.settings.button_image == nil %}
    <a href="{{ block.settings.link }}">
  {% endif %}
  <div class="content--centered">
    <div class="{{ block.settings.text_align }} preventOverflowContent">
      {% if block.settings.button_image %}
        {%- assign img_button = block.settings.button_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        <a href="{{ block.settings.link }}">
          <img class="lazyload image--flex"
            alt="{{ block.settings.button_image.alt | default: block.settings.link_text }}"
            src="{{ block.settings.button_image | img_url: '180x' }}"
            data-src="{{ img_button }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
            data-aspectratio="{{  block.settings.button_image.aspect_ratio }}"
            data-sizes="auto"/>
          <noscript>
            <img src="{{ block.settings.button_image | img_url: '360x' }}" alt="{{ block.settings.button_image.alt | default: block.settings.link_text }}"/>
          </noscript>
        </a>
      {% else %}
        {% unless block.settings.title == '' %}<h1 class="home__subtitle">{{ block.settings.title | escape }}</h1>{% endunless %}
        {% unless block.settings.description == '' %}<p class="content--flex h5--body">{{ block.settings.description }}</p>{% endunless %}
        {% unless block.settings.link_text == '' %}<a class="{{ block.settings.button_style }}" href="{{ block.settings.link }}">{{ block.settings.link_text | escape }}</a>{% endunless %}
      {% endif %}
    </div>
  </div>
  <div class="image-overlay image-overlay-{{ block.settings.overlay_opacity }}"></div>
  <div class="background-size-cover lazyload" data-bgset="{% include 'bgset', image: img_object %}" role="img" aria-label="{{ img_object.alt }}"></div>
  <noscript>
    <div class="background-size-cover" style="background-image: url('{{ img_object | img_url: '540x' }}');"></div>
  </noscript>
  {% if block.settings.link_text == '' and block.settings.link and block.settings.button_image == nil %}
    </a>
  {% endif %}
</div>
