<!-- /sections/collection-list.liquid -->

{% paginate collection.products by 50 %}

{%- assign collection_sidebar = false -%}
{% if section.settings.collection_custom_nav_list != blank or section.settings.collection_standard_nav or section.settings.collection_type_nav or section.settings.collection_vendor_nav or section.settings.collection_tag_nav %}
  {%- assign collection_sidebar = true -%}
{%- endif -%}

<div data-section-id="{{ section.id }}" data-section-type="parallax">

  {% if collection.image and section.settings.show_image %}
    {%- assign img_url = collection.image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
    <div class="homepage-image fade-in-child preventOverflow {{ section.settings.text_color }} {{ section.settings.image_height }}" id="FeaturedImage-{{ section.id }}"
        {% if section.settings.parallax %}
          data-parallax-src="{{ collection.image | img_url: '18x' }}"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
          data-aspectratio="{{  collection.image.aspect_ratio }}"
          data-sizes="auto"
          style="background-image: url('{{ section.settings.image | img_url: '1x1' }}');"
        {% endif %}>
      <div class="content--centered">
        <div class="text-center preventOverflowContent">
          {%- if section.settings.show_title and section.settings.show_title_below == false  -%}
          <h1 class="title--flex {{ section.settings.align_text }}">{{ collection.title }}</h1>
          {%- endif -%}
          {% if collection.description.size > 0 and section.settings.show_description and section.settings.show_description_below == false %}
          <div class="{{ section.settings.description_font_size }} {{ section.settings.align_text }}">{{ collection.description }}</div>{% endif %}
        </div>
      </div>
      <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
      {% if section.settings.image_height == 'use_image' %}
        <div class="lazy-image" style="padding-top:{{ 1 | divided_by: collection.image.aspect_ratio | times: 100}}%; background-image: url('{{ collection.image | img_url: '1x1' }}');">
          <img class="lazyload fade-in" {% if section.settings.parallax %} style="opacity: 0;"{% endif %}
            alt="{{ collection.image.alt | default: collection.title }}"
            data-src="{{ img_url }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
            data-aspectratio="{{  collection.image.aspect_ratio }}"
            data-parent-fit="cover"
            data-sizes="auto"/>
        </div>
      {% endif %}
      {% if section.settings.parallax == false and section.settings.image_height != 'use_image' %}
        <div class="background-size-cover lazyload" data-bgset="{% include 'bgset', image: collection.image %}" role="img" aria-label="{{ collection.image.alt }}"></div>
      {% endif %}
      <noscript>
        <img src="{{ collection.image | img_url: '1440x' }}" alt="{{ collection.image.alt | default: collection.title }}" class="responsive-wide-image"/>
      </noscript>
    </div>
  {% endif %}

  <div class="collection">
    <div class="wrapper">
      <div class="collection__heading--below">
        {%- if collection.image == nil or section.settings.show_title_below or section.settings.show_image == false -%}
          {%- if section.settings.show_title -%}
            <h1 class="collection__heading--below title--flex {{ section.settings.align_text }}">{{ collection.title }}</h1>
          {%- endif -%}
        {%- endif -%}
        {%- if collection.image == nil or section.settings.show_description_below or section.settings.show_image == false -%}
          {%- if section.settings.show_description and collection.description.size > 0 -%}
            <div class="collection__heading--below {{ section.settings.description_font_size }} {{ section.settings.align_text }}">
              {{ collection.description }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>

      {% if section.settings.collection_sorting %}
      <div class="row text-right collection__sort">
        {% include 'collection-sorting' %}
      </div>
      {% endif %}
      <div class="page-margin grid--rev">
        {% if collection_sidebar %}
        <div class="grid__item large--three-quarters">
        {% else  %}
        <div class="grid__item large--one-whole">
        {% endif %}
        <div class="grid-uniform">
          {% for product in collection.products %}
            {% include 'product-list-item' %}
          {% else %}
            <div class="grid__item">
              <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>
          {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          <hr>
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
        {% endif %}
      </div>
      {% if collection_sidebar %}
      <div class="grid__item large--one-quarter">
        {% include 'collections-sidebar' %}
      </div>
      {% endif %}
    </div>
    {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "type": "header",
      "content": "Sidebar menu"
    },
    {
      "type": "link_list",
      "id": "collection_custom_nav_list",
      "label": "Custom link list",
      "info": "This menu has limited support for dropdown items"
    },
    {
      "type": "checkbox",
      "id": "collection_standard_nav",
      "label": "Show all collections"
    },
    {
      "type": "checkbox",
      "id": "collection_type_nav",
      "label": "Show types"
    },
    {
      "type": "checkbox",
      "id": "collection_vendor_nav",
      "label": "Show vendors"
    },
    {
      "type": "checkbox",
      "id": "collection_tag_nav",
      "label": "Show tags"
    },
    {
      "type": "header",
      "content": "Collection sorting"
    },
    {
      "type": "checkbox",
      "id": "collection_sorting",
      "label": "Show collection sorting"
    },
    {
       "type": "header",
       "content": "Layout"
     },
     {
       "type": "select",
       "id": "align_text",
       "label": "Text alignment",
       "default": "text-center",
       "options": [
         { "value": "text-left", "label": "Left"},
         { "value": "text-center", "label": "Center"},
         { "value": "text-right", "label": "Right"}
       ]
     },
     {
       "type": "checkbox",
       "id": "show_title",
       "label": "Show collection title",
       "default": true
     },
     {
       "type": "checkbox",
       "id": "show_title_below",
       "label": "Title below image",
       "default": false
     },
     {
       "type": "checkbox",
       "id": "show_description",
       "label": "Show collection description",
       "default": true
     },
     {
       "type": "checkbox",
       "id": "show_description_below",
       "label": "Description below image",
       "default": false
     },
     {
       "type": "select",
       "id": "description_font_size",
       "label": "Description text size",
       "default": "rte rte--large",
       "options": [
         { "value": "rte", "label": "Regular"},
         { "value": "rte rte--large", "label": "Large"},
         { "value": "rte rte--xl", "label": "Extra Large"}
       ]
     },
    {
      "type": "header",
      "content": "Feature image"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show feature image",
      "default": true
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Image height",
      "options": [
        { "value": "use_image", "label": "Image height"},
        { "value": "use_screen_two_thirds", "label": "Tall"},
        { "value": "use_screen_one_half", "label": "Medium"},
        { "value": "use_screen_one_third", "label": "Short"},
        { "value": "use_screen_one_fifth", "label": "Tiny"}
      ],
      "default": "use_screen_one_third"
    },
    {
      "type":    "range",
      "id":      "overlay_opacity",
      "min":     0,
      "max":     100,
      "step":    5,
      "label":   "Image overlay opacity",
      "info":    "Increase contrast for legible text.",
      "default": 20
    },
    {
      "type": "select",
      "id": "text_color",
      "default": "homepage--white",
      "label": "Text color",
      "options": [
        { "value": "homepage--white", "label": "White"},
        { "value": "homepage--light", "label": "Light"},
        { "value": "homepage--splash", "label": "Accent"},
        { "value": "homepage--dark", "label": "Dark"}
      ]
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "default": false,
      "label": "Enable parallax scroll"
    }
  ]
}
{% endschema %}
