<!-- /sections/index-icons.liquid -->

<div class="homepage-icons {{ section.settings.bg_color }}">
  <div class="wrapper {{ section.settings.icon_alignment }} {{ section.settings.icon_size }}">
    {% if section.settings.title != blank %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endif %}

    <div class="grid {% unless section.blocks.size == 5 %}grid-uniform{% endunless %}">
      {%- assign grid_item_width = 'large--one-third medium--one-third' -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'large--one-half medium--one-half push--large--one-quarter' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'large--one-half medium--one-half' -%}
        {% when 4 %}
          {%- assign grid_item_width = 'large--one-quarter medium--one-half' -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'large--one-half medium--one-half' -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        {% if section.blocks.size == 5 and forloop.index == 3 %}<div class="clearfix"></div>{% endif %}
        <div class="grid__item {{ column_width }} {{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          <div class="icon__column icon__column--{{ block.id }} {{ block.settings.icon_alignment }} {{ block.settings.icon_size }}">
            <style>.icon__column--{{ block.id }} .icon__column__icon svg g { stroke: {{ block.settings.icon_color }}; }</style>
            <div class="icon__column__icon">{% include block.settings.icon_name %}</div>
            <div class="icon__column__text">
              {% if block.settings.title != blank %}
                <h5 class="h5--accent strong home--uppercase button">{{ block.settings.title | escape }}</h5>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="rte icon__column__paragraph">{{ block.settings.text }}</div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      <div class="text-center">{{ 'home_page.onboarding.no_content' | t }}</div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Icon columns",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "bg_color",
        "label": "Background color",
        "default": "homepage--white",
        "options": [
          { "value": "homepage--white", "label": "White" },
          { "value": "homepage--light", "label": "Light" },
          { "value": "homepage--splash", "label": "Accent" },
          { "value": "homepage--dark", "label": "Dark" }
        ]
      },
      {
        "type": "select",
        "id": "icon_size",
        "label": "Icon size",
        "default": "icon--small",
        "options": [
          { "value": "icon--small", "label": "Small" },
          { "value": "icon--large", "label": "Large" }
        ]
      },
      {
        "type": "select",
        "id": "icon_alignment",
        "label": "Icon placement",
        "default": "icon--top",
        "options": [
          { "value": "icon--top", "label": "Top" },
          { "value": "icon--left", "label": "Left" }
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          { "value": "text-left", "label": "Left" },
          { "value": "text-center", "label": "Centered" }
        ]
      }
    ],
    "blocks": [
      {
        "type": "icon_block",
        "name": "Icon column",
        "settings": [
          {
            "type": "select",
            "id": "icon_name",
            "label": "Icon",
            "default": "icon-award",
            "options": [
              { "value": "icon-award", "label": "Award" },
              { "value": "icon-basket-like", "label": "Basket like" },
              { "value": "icon-basket-return", "label": "Basket return" },
              { "value": "icon-cart-check", "label": "Cart check" },
              { "value": "icon-cart-message", "label": "Cart message" },
              { "value": "icon-chat", "label": "Chat" },
              { "value": "icon-dollar", "label": "Dollar" },
              { "value": "icon-email", "label": "Email" },
              { "value": "icon-lock-card", "label": "Lock card" },
              { "value": "icon-lock-shield", "label": "Lock shield" },
              { "value": "icon-lock-window", "label": "Lock window" },
              { "value": "icon-payment", "label": "Payment" },
              { "value": "icon-phone", "label": "Phone" },
              { "value": "icon-rating", "label": "Rating" },
              { "value": "icon-send", "label": "Send" },
              { "value": "icon-shipment-world", "label": "Shipment world" },
              { "value": "icon-shipment", "label": "Shipment" },
              { "value": "icon-store", "label": "Store" },
              { "value": "icon-support-headphones", "label": "Support headphones" },
              { "value": "icon-truck", "label": "Truck" }
            ]
          },
          {
            "type": "color",
            "id": "icon_color",
            "label": "Icon color",
            "default": "#AAAAAA"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share details about your shipping policies, item returns, or customer service.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icon columns",
        "category": "Text",
        "blocks": [
          {
            "type": "icon_block",
            "settings": {
              "title": "Free returns",
              "icon_name": "icon-basket-return",
              "text": "<p>Returns within 30 days receive a full refund.</p>"
            }
          },
          {
            "type": "icon_block",
            "settings": {
              "title": "Wordwide shipping",
              "icon_name": "icon-shipment-world",
              "text": "<p>Ship anywhere, rates available at checkout.</p>"
            }
          },
          {
            "type": "icon_block",
            "settings": {
              "title": "24/7 support",
              "icon_name": "icon-phone",
              "text": "<p>Call us anytime at 1(800) 555-1234.</p>"
            }
          }
        ]
      }
    ]
  }
{% endschema %}
