<!-- /sections/index-columns.liquid -->

<div class="homepage-columns {{ section.settings.homepage_columns_color }}" data-section-id="{{ section.id }}" data-section-type="index-columns">
  <div class="wrapper">
    {% if section.settings.title != blank %}
      <h4 class="home__subtitle">{{ section.settings.title | escape }}</h4>
    {% endif %}
    <div class="grid {% unless section.blocks.size == 5 %}grid-uniform{% endunless %}">
      {%- assign grid_item_width = 'large--one-third medium--one-third' -%}
      {% case section.blocks.size %}
        {% when 1 %}
          {%- assign grid_item_width = 'large--one-half medium--one-half' -%}
        {% when 2 %}
          {%- assign grid_item_width = 'large--one-half medium--one-half' -%}
        {% when 4 %}
          {%- assign grid_item_width = 'large--one-quarter medium--one-half' -%}
      {% endcase %}
      {% for block in section.blocks %}
        {% if section.blocks.size == 5 and forloop.index < 3 %}
          {%- assign column_width = 'large--one-half medium--one-half' -%}
        {% else %}
          {%- assign column_width = grid_item_width -%}
        {% endif %}
        {% if section.blocks.size == 5 and forloop.index == 3 %}<div class="clearfix"></div>{% endif %}
        <div class="index__column grid__item {{ column_width }} {{ section.settings.align_text }}" {{ block.shopify_attributes }}>
          {% if block.settings.enable_image %}
            {% if block.settings.image != blank %}
              {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <div class="lazy-image column__image" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%; background-image:  url('{{ block.settings.image | img_url: '1x1' }}');">
                <img class="lazyload fade-in"
                  alt="{{  block.settings.image.alt | default: block.settings.title }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100, 4480]"
                  data-aspectratio="{{  block.settings.image.aspect_ratio }}"
                  data-parent-fit="cover"
                  data-sizes="auto"/>
                  {% comment %}
                    If there is a video add a play button over the image
                    If there is a non video link and no button label just
                    link the image to the link destination
                  {% endcomment %}
                  {% if block.settings.enable_video %}
                    {%- if block.settings.video_link.type == 'youtube' -%}
                      {% capture video_link %}https://www.youtube.com/watch?v={{ block.settings.video_link.id }}{% endcapture %}
                    {%- elsif block.settings.video_link.type == 'vimeo' -%}
                      {% capture video_link %}https://vimeo.com/{{ block.settings.video_link.id }}{% endcapture %}
                    {%- endif -%}
                    <a href="{{ video_link }}" data-video-popup class="link-over-image column__play" aria-label="{{ 'general.accessibility.play' | t }}">
                      <span class="icon icon-play">{% include 'svg-play',  play_color: settings.product_background_color %}</span>
                      <span class="visually-hidden">{{ 'general.accessibility.play' | t }}</span>
                    </a>
                  {% elsif block.settings.button_label == blank and block.settings.button_link != blank %}
                    <a class="link-over-image" href="{{ block.settings.button_link }}" aria-label="{{ block.settings.title }}"></a>
                  {% endif %}
              </div>
              <noscript>
                <img src="{{ block.settings.image | img_url: '540x' }}" alt="{{ block.settings.image.alt | default: block.settings.title }}"/>
              </noscript>
            {% else %}
              <p>
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </p>
            {% endif %}
          {% endif %}
          {% if block.settings.title != blank %}
            <h5 class="h5--accent strong home--uppercase">{{ block.settings.title | escape }}</h5>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte">{{ block.settings.text }}</div>
          {% endif %}
          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}" class="btn btn--clear btn--square uppercase">
              {{ block.settings.button_label | escape }}
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      <div class="text-center">{{ 'home_page.onboarding.no_content' | t }}</div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Text columns with images",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Text columns with images"
      },
      {
        "type": "select",
        "id": "homepage_columns_color",
        "label": "Background color",
        "default": "homepage--white",
        "options": [
          { "value": "homepage--white", "label": "White"},
          { "value": "homepage--light", "label": "Light"},
          { "value": "homepage--splash", "label": "Accent"},
          { "value": "homepage--dark", "label": "Dark"}
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Centered"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_image",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "info": "Leave blank to link from image"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "header",
            "content": "Video Popup"
          },
          {
            "type": "checkbox",
            "id": "enable_video",
            "label": "Show video",
            "default": false
          },
          {
            "type": "video_url",
            "id": "video_link",
            "label": "Video link",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "info": "Video links from YouTube or Vimeo accepted."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Text columns with images",
        "category": "Text",
        "blocks": [
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          },
          {
            "type": "text_block"
          }
        ]
      }
    ]
  }
{% endschema %}
