{% assign display_map = false %}
{%- if section.settings.api_key != blank and section.settings.map_address -%}
  {% assign display_map = true %}
{%- endif -%}

{%- if section.settings.image -%}
  {%- assign img_object = section.settings.image -%}
{%- else -%}
  {%- assign img_object = 'blank.svg' | asset_url -%}
{%- endif -%}

<div class="map-section grid--full homepage-double equalOverflowHeight {{ section.settings.height }}{% if display_map %} map-section--display-map{% endif %}"
     data-section-id="{{ section.id }}"
     data-section-type="index-map"
     data-style="{{ section.settings.style }}"
     data-zoom="{{ section.settings.zoom }}"
     data-api-key="{{ section.settings.api_key }}">

  <div class="grid__item large--one-half medium--one-half double__block {{ section.settings.homepage_bg_color }} preventOverflow" {{ block.shopify_attributes }}>
    <div class="content--centered">
      <div class="{{ block.settings.text_align }} preventOverflowContent">
        {% if section.settings.heading != blank %}
          <h4 class="home__subtitle">{{ section.settings.heading | escape }}</h4>
        {% endif %}
        {% if section.settings.address != blank %}
          <div class="rte rte--homepage">
            <span>{{ section.settings.address }}</span>
          </div>
        {% endif %}
        {% if section.settings.button != blank and section.settings.map_address != blank %}
          <p>
            <a href="https://maps.google.com?daddr={{ section.settings.map_address | escape }}" target="_blank" class="{{ section.settings.button_style }}">
            {{ section.settings.button | escape }}
            </a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="map-section__content map-section__background-wrapper grid__item large--one-half medium--one-half double__block homepage-image {{ block.settings.color }} preventOverflow">
    <div class="map-section__image">
      <div class="image-overlay image-overlay-{{ section.settings.overlay_opacity }}"></div>
      <div class="background-size-cover lazyload" data-bgset="{% include 'bgset', image: img_object %}" role="img" aria-label="{{ img_object.alt }}"></div>
    </div>
    <noscript>
      <div class="background-size-cover" style="background-image: url('{{ img_object | img_url: '540x' }}');"></div>
    </noscript>
    {% if display_map %}
      <div class="map-section__container {{ section.settings.height }}"
           id="Map-{{ section.id }}"
           data-address-setting="{{ section.settings.map_address | escape }}">
      </div>
    {% endif %}
  </div>

</div>

{% schema %}
  {
    "name": "Map",
    "class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "height",
        "label": "Section height",
        "default": "use_screen_one_third",
        "options": [
          { "value": "use_screen_full", "label": "Full screen height"},
          { "value": "use_screen_two_thirds", "label": "Tall"},
          { "value": "use_screen_one_half", "label": "Medium"},
          { "value": "use_screen_one_third", "label": "Short"},
          { "value": "use_screen_one_fifth", "label": "Tiny"}
        ]
      },
      {
        "type": "header",
        "content": "Address & Directions"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Our store"
      },
      {
        "type": "richtext",
        "id": "address",
        "label": "Address and hours",
        "default": "<p>123 Fake St.<br>Whistler, Canada</p><p>Mon - Fri, 10am - 9pm<br>Weekends, 11am - 4pm</p>"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Map link label",
        "default": "Directions"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "btn btn--clear btn--square uppercase",
        "options": [
          { "value": "btn btn--splash uppercase", "label": "Round"},
          { "value": "btn btn--splash btn--square uppercase", "label": "Square"},
          { "value": "btn btn--clear uppercase", "label": "Transparent round"},
          { "value": "btn btn--clear btn--square uppercase", "label": "Transparent square"},
          { "value": "btn btn--outline btn--square uppercase", "label": "Outlined square"}
        ]
      },
      {
        "type": "select",
        "id": "style",
        "label": "Map style",
        "default": "light",
        "options": [
          { "value": "default", "label": "Default" },
          { "value": "light", "label": "Desaturated"},
          { "value": "light_blank", "label": "Desaturated without labels"},
          { "value": "white_label", "label": "White"},
          { "value": "white_blank", "label": "White without labels"},
          { "value": "dark_label", "label": "Black"},
          { "value": "dark_blank", "label": "Black without labels"}
        ]
      },
      {
        "type": "range",
        "id": "zoom",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": "Zoom",
        "info":"Low numbers are less zoomed",
        "default": 11
      },
      {
        "type": "select",
        "id": "homepage_bg_color",
        "label": "Background color",
        "default": "homepage--light",
        "options": [
          { "value": "homepage--white", "label": "White"},
          { "value": "homepage--light", "label": "Light"},
          { "value": "homepage--splash", "label": "Accent"},
          { "value": "homepage--dark", "label": "Dark"}
        ]
      },
      {
        "type": "header",
        "content": "Map"
      },
      {
        "id": "api_key",
        "type": "text",
        "label": "Google Maps API key",
        "info": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map"
      },
      {
        "id": "map_address",
        "type": "text",
        "label": "Map address",
        "info": "Google Maps will find the exact location",
        "default": "4300 Main St, Whistler"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Displayed if the map isn’t loaded"
      }
    ],
    "presets": [
      {
        "name": "Map",
        "category": "Store Information"
      }
    ]
  }
{% endschema %}
